{% extends "admin/base.html" %}
{% load staticfiles %}
{% block extrastyle %}
    <style>
        .box {
            width: 40%;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.2);
            padding: 35px;
            border: 2px solid #fff;
            border-radius: 20px/50px;
            background-clip: padding-box;
            text-align: center;
        }

        .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
        }

        .overlay:target {
            visibility: visible;
            opacity: 1;
        }

        .popup-list {
            margin: 70px auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
        }

        .popup-list h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup-list .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

        .popup-list .close:hover {
            color: #06D85F;
        }

        .popup-list .content {
            max-height: 30%;
            overflow: auto;
        }

        @media screen and (max-width: 700px) {
            .box {
                width: 70%;
            }

            .popup-list {
                width: 70%;
            }
        }
    </style>
{% endblock %}
{% block footer %}
    {{ block.super }}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'socket.io/socket.io.js' %}"></script>
    <script src="{% static 'socket.io/socket.io.chat.js' %}"></script>
    <script>
        var whatsAppPath = '{% static "whatsapp.mp3" %}';
        var alertTimeout = null;
        var audio = new Audio(whatsAppPath);
        var page_title = $('title');
        var page_title_content = $(page_title).html();
        var title_changer = null;
        var _socket = new CHAT();
        var helper = false;

        $(document).ready(function () {
            _socket.init('http://localhost:3000', 'kokoChicken');
        });

        $(document).on('mousemove', stopNotification);
        $(document).on('keypress', stopNotification);
        
        function stopNotification() {
            if(alertTimeout && title_changer) {
                clearInterval(alertTimeout);
                clearInterval(title_changer);
            }
            audio.pause();
        }

        function getPrettyDate() {
            var year = new Date().getFullYear();
            var month = new Date().getMonth();
            var day = new Date().getDate();

            var hour = new Date().getHours();
            var minute = new Date().getMinutes();

            var result = day + ' ';

            switch (month) {
                case 1: result += 'Января'; break;
                case 2: result += 'Февраля'; break;
                case 3: result += 'Марта'; break;
                case 4: result += 'Апреля'; break;
                case 5: result += 'Майя'; break;
                case 6: result += 'Июня'; break;
                case 7: result += 'Июля'; break;
                case 8: result += 'Августа'; break;
                case 9: result += 'Сентября'; break;
                case 10: result += 'Октября'; break;
                case 11: result += 'Ноября'; break;
                case 12: result += 'Декабря'; break;
            }

            result += ', ' + year + ' в ';

            result += hour < 10 ? '0' + hour : hour;

            result += ':';

            result += minute < 10 ? '0' + minute : minute;

            return result;
        }

        function onChatMessageCallback(data) {
            var time = getPrettyDate();

            title_changer = setInterval(function () {
                if(!helper) {
                    page_title.html('Новый заказ!');
                    helper = true;
                } else {
                    page_title.html(page_title_content);
                    helper = false;
                }
            }, 1000);

            alertTimeout = setInterval(function () {
                audio.play();
            }, 3000);

            var options = {
                body: time + ' поступил новый заказ! Срочно обновите страницу!',
                icon: '{% static 'images/logo.png' %}'
            };
            var n = new Notification('Новый заказ!', options);

            n.onclick = function (e) {
                e.preventDefault();
                window.focus();
                n.close();
            }
        }
    </script>
{% endblock %}