{% load staticfiles %}
<div class="table">
    {% for cart_item in cart_items %}
        <div class="row" id="cart_item_{{ cart_item.id }}_
                {{ cart_item.type }}{% if cart_item.size %}_{{ cart_item.size }}{% endif %}">
            <div class="order-col-title">{{ cart_item.title }}<br/>

            </div>
            <div class="order-col-size">{% if cart_item.size %} {{ cart_item.size }} {% endif %}</div>
            <div class="order-col-count score">
                <span>Количество</span>

                <div class="count">
                    <div class="count-value">{{ cart_item.quantity }}</div>
                    <div class="settings-buttons">
                        <img src="{% static "images/icons/plus.png" %}" class="plus-trigger"/>
                        <img src="{% static "images/icons/minus.png" %}" class="minus-trigger"/>
                    </div>
                </div>
            </div>
            <div class="order-col-price">{{ cart_item.price }} сом</div>
            <div class="order-col-delete" data-id="{{ cart_item.id }}" data-type="{{ cart_item.type }}"
                    data-price="{{ cart_item.price }}" data-quantity="{{ cart_item.quantity }}"
                    {% if cart_item.size %} data-size="{{ cart_item.size }}"{% endif %}>X
            </div>
        </div>
    {% endfor %}
</div>

<div class="score">
    <div class="score-detail">
        <table>
            <tr>
                <td class="left-side">Доставка:</td>
                <td class="right-side">бесплатно</td>
            </tr>
            <tr>
                <td class="left-side">Итого:</td>
                <td class="right-side sum">{{ cart_sum }} сом</td>
            </tr>
        </table>
    </div>
</div>