{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koko-Chicken</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="rgba(0,0,0,0)">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="rgba(0,0,0,0)">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
{% include "message_alert.html" %}

<div class="md-overlay" id="order-modal">
    <div class="md-window">
        <div class="child">
            <div class="md-close"><img src="{% static "images/icons/close.png" %}"/></div>
            <div class="block-title">Форма доставки</div>
            <form action="{% url "create_order" %}" method="POST" id="orderForm">
                {% csrf_token %}
                <div class="form-group">
                    {{ order_form.name }}
                </div>
                <div class="form-group">
                    {{ order_form.address }}
                </div>
                <div class="form-group">
                    {{ order_form.phone }}
                    {{ order_form.orders }}
                </div>
                <div class="order-button">
                    <button type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="fixed-header">
    <div class="fixed-menu">
        <ul>
            <li><a href="#main-products" class="navigation-trigger">главное</a></li>
            <li><a href="#special-products" class="navigation-trigger">специальное</a></li>
            <li><a href="#potato-products" class="navigation-trigger">картофель</a></li>
            <li><a href="#drink-products" class="navigation-trigger">напитки</a></li>
            <li><a href="#order-list" class="navigation-trigger">корзина</a></li>
        </ul>
    </div>
</div>
<div class="mobile-fixed-header">
    <div class="child">
        <div class="mobile-fixed-menu-trigger" id="mobile-menu">меню</div>
        <div class="mobile-fixed-menu score">
            <ul>
                <li><a href="#main-products" class="navigation-trigger">главное</a></li>
                <li><a href="#special-products" class="navigation-trigger">специальное</a></li>
                <li><a href="#potato-products" class="navigation-trigger">картофель</a></li>
                <li><a href="#drink-products" class="navigation-trigger">напитки</a></li>
                <li><a href="#order-list" class="navigation-trigger">корзина</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="mobile-fixed-header-placeholder"></div>
<header>
    <div class="carcass">
        <div class="logo"></div>
        <div class="header-center-wrap">
            <div class="child">
                <div class="delivery-text">
                    Доставка по бишкеку <span>{{ phone }}</span>
                </div>
                <div class="navigation-menu">
                    <ul>
                        <li><a href="#main-products" class="navigation-trigger">главное</a></li>
                        <li><a href="#special-products" class="navigation-trigger">специальное</a></li>
                        <li><a href="#potato-products" class="navigation-trigger">картофель</a></li>
                        <li><a href="#drink-products" class="navigation-trigger">напитки</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#order-list" class="navigation-trigger">
            <div class="order-block">
                <div class="order-block-icon">
                    <img src="{% static "images/orders-icon.svg" %}"/>
                </div>
                <div class="order-block-text">
                    мои заказы
                </div>
            </div>
        </a>
    </div>
</header>
<div class="header-image"></div>
<div class="main-products" id="main-products">
    <div class="carcass">
        <div class="main-products-carcass" id="main-menu-products">
            {% for chicken in chickens %}
                <div class="product">
                    <div class="product-image-preview">
                        <img src="{{ chicken.preview.url }}"/>
                    </div>
                    <div class="product-info" id="chicken_{{ chicken.id }}">
                        <div class="title">{{ chicken.title }}</div>
                        <div class="description">{{ chicken.description }}</div>
                        <div class="price">
                            {% with chicken.sizes.all as sizes %}
                                <ul>
                                    {% for size in sizes %}
                                        <li
                                                class="price-switch {% if size == sizes|first %}active{% endif %}"
                                                data-price="{{ size.price }}"
                                                data-size="{{ size.title }}">{{ size.title }}</li>
                                    {% endfor %}
                                </ul>
                                {% if sizes|length > 0 %}
                                    <div class="price-value">{{ sizes.0.price }} сом</div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="card">
                            <button type="button" class="add-to-card" data-target="1" {% if chicken in chicken_favs %}
                                    hidden {% endif %}>добавить в заказы
                            </button>
                            <div class="pre-order-settings {% if chicken not in chicken_favs %}hidden{% endif %}">
                                <div class="text">Количество</div>
                                <div class="count">
                                    <div class="count-value">1</div>
                                    <div class="settings-buttons">
                                        <img src="{% static "images/icons/plus.png" %}" class="plus-trigger"/>
                                        <img src="{% static "images/icons/minus.png" %}" class="minus-trigger"/>
                                    </div>
                                </div>
                                <div class="done">
                                    <img src="{% static "images/icons/done.png" %}" class="done-trigger"
                                         data-id="{{ chicken.id }}" data-type="chicken"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="load-more-button">
            <button type="button" class="more_food" data-type="chicken" data-page="1">Больше блюд</button>
        </div>
    </div>
</div>
<div class="special-menu score" id="special-products">
    <div class="carcass">
        <div class="block-title">Специальное меню</div>
        <div class="delimiter"></div>
        <div class="main-products-carcass">
            {% for salade in salades %}
                <div class="product">
                    <div class="product-image-preview">
                        <img src="{{ salade.preview.url }}"/>
                    </div>
                    <div class="product-info" id="salade_{{ salade.id }}">
                        <div class="title">{{ salade.title }}</div>
                        <div class="description">{{ salade.description }}</div>
                        <div class="price-special">
                            <div class="price-value">{{ salade.price }} сом</div>
                        </div>
                        <div class="card">
                            <button type="button"
                                    class="add-to-card {% if salade in salades_favs %} hidden {% endif %}">добавить в
                                заказы
                            </button>
                            <div class="pre-order-settings {% if salade not in salades_favs %}hidden {% endif %}">
                                <div class="text">Количество</div>
                                <div class="count">
                                    <div class="count-value">1</div>
                                    <div class="settings-buttons">
                                        <img src="{% static "images/icons/plus.png" %}" class="plus-trigger"/>
                                        <img src="{% static "images/icons/minus.png" %}" class="minus-trigger"/>
                                    </div>
                                </div>
                                <div class="done">
                                    <img src="{% static "images/icons/done.png" %}" class="done-trigger"
                                         data-id="{{ salade.id }}" data-type="salade" data-price="{{ salade.price }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="load-more-button">
            <button type="button" class="more_food" data-type="salade" data-page="1">Больше блюд</button>
        </div>
    </div>
</div>
<div class="special-menu score" id="potato-products">
    <div class="carcass">
        <div class="block-title">Картофель</div>
        <div class="delimiter"></div>
        <div class="main-products-carcass">
            {% for potato in potatoes %}
                <div class="product">
                    <div class="product-image-preview">
                        <img src="{{ potato.preview.url }}"/>
                    </div>
                    <div class="product-info" id="potato_{{ potato.id }}">
                        <div class="title">{{ potato.title }}</div>
                        <div class="description">{{ potato.description }}</div>
                        <div class="price">
                            {% with potato.sizes.all as sizes %}
                                <ul>
                                    {% for size in sizes %}
                                        <li data-id="{{ potato.id }}"
                                            class="price-switch {% if size == sizes|first %}active{% endif %}"
                                            data-price="{{ size.price }}"
                                            data-size="{{ size.title }}">{{ size.title }}</li>
                                    {% endfor %}
                                </ul>
                                {% if sizes|length > 0 %}
                                    <div class="price-value">{{ sizes.0.price }} сом</div>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="card">
                            <button type="button"
                                    class="add-to-card {% if potato in potatoes_favs %} hidden {% endif %}"
                                    data-target="1">добавить в заказы
                            </button>
                            <div class="pre-order-settings {% if potato not in potatoes_favs %}hidden{% endif %}">
                                <div class="text">Количество</div>
                                <div class="count">
                                    <div class="count-value">1</div>
                                    <div class="settings-buttons">
                                        <img src="{% static "images/icons/plus.png" %}" class="plus-trigger"/>
                                        <img src="{% static "images/icons/minus.png" %}" class="minus-trigger"/>
                                    </div>
                                </div>
                                <div class="done">
                                    <img src="{% static "images/icons/done.png" %}" class="done-trigger"
                                         data-id="{{ potato.id }}" data-type="potato"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="load-more-button">
            <button type="button" class="more_food" data-type="potato" data-page="1">Больше блюд</button>
        </div>
    </div>
</div>
<div class="drink-menu" id="drink-products">
    <div class="carcass">
        <div class="block-title">Выбрать напитки</div>
        <div class="delimiter"></div>
        <div class="block-description">Горячие и холодные напитки, которые дополнят<br/>
            изысканный вкус горячей курицы
        </div>

        <div class="drink-products-carcass slick-init" id="drink-list"
             data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
            {% for drinking in drinkings %}
                <div class="drink-product" id="drinking_{{ drinking.id }}">
                    <div class="drink-preview">
                        <img src="{{ drinking.preview.url }}"/>
                    </div>
                    <div class="drink-title title">
                        {{ drinking.title }}
                    </div>
                    <div class="drink-price">
                        {{ drinking.price }} сом
                    </div>
                    <div class="drink-order-button">
                        <button type="button" class="add-to-card {% if drinking in drinkings_favs %}hidden{% endif %}">
                            Добавить в заказы
                        </button>
                        <div class="pre-order-settings {% if drinking not in drinkings_favs %}hidden{% endif %}">
                            <div class="text">Количество</div>
                            <div class="count">
                                <div class="count-value">1</div>
                                <div class="settings-buttons">
                                    <img src="{% static "images/icons/plus.png" %}" class="plus-trigger"/>
                                    <img src="{% static "images/icons/minus.png" %}" class="minus-trigger"/>
                                </div>
                            </div>
                            <div class="done">
                                <img src="{% static "images/icons/done.png" %}" class="done-trigger"
                                     data-id="{{ drinking.id }}" data-type="drinking"
                                     data-price="{{ drinking.price }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="free-space"></div>
        <div class="free-space"></div>
    </div>
</div>
<div class="order" id="order-list">
    <div class="carcass">
        <div class="order-dashboard score">
            <div class="block-title">Мои заказы</div>
            <div class="delimiter"></div>

            <div class="cart_list">
                {% include "cart_list.html" with cart_items=cart_items %}
            </div>

            <div class="order-button">
                <button type="button" id="order-button">Оформить доставку</button>
            </div>
        </div>
    </div>
</div>
<div class="contacts" id="contacts">
    <div class="carcass">
        <div class="block-title">Контакты</div>
        <div class="delimiter"></div>
        <div class="pre-contacts">
            <ul>
                <li class="score">
                    <div class="contact-icon"><img src="{% static "images/icons/phone.png" %}"/></div>
                    <div class="contact-text">{{ phone }}<br/>
                        {{ additional_phone }}
                    </div>
                </li>
                <li class="score">
                    <div class="contact-icon"><img src="{% static "images/icons/mail.png" %}"/></div>
                    <div class="contact-text">{{ email }}</div>
                </li>
                <li class="score">
                    <div class="contact-icon"><img src="{% static "images/icons/location.png" %}"/></div>
                    <div class="contact-text">{{ address }}</div>
                </li>
            </ul>
        </div>
        <div class="contacts-map">
            <div class="post-contacts">
                <ul>
                    <li class="score">
                        <div class="contact-icon"><img src="{% static "images/icons/phone.png" %}"/></div>
                        <div class="contact-text">{{ phone }}<br/>
                            {{ additional_phone }}
                        </div>
                    </li>
                    <li class="score">
                        <div class="contact-icon"><img src="{% static "images/icons/mail.png" %}"/></div>
                        <div class="contact-text">{{ email }}</div>
                    </li>
                    <li class="score">
                        <div class="contact-icon"><img src="{% static "images/icons/location.png" %}"/></div>
                        <div class="contact-text">{{ address }}</div>
                    </li>
                </ul>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d730.9631691261975!2d74.59226710538918!3d42.87595358119684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDUyJzMzLjgiTiA3NMKwMzUnMzIuOSJF!5e0!3m2!1sru!2skg!4v1480498412190"
                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<footer>
    <img src="{% static "images/footer-logo.png" %}"/>
</footer>

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script>

    var add_to_cart_url = '{% url "add_to_cart" %}';
    var remove_from_cart_url = '{% url "remove_from_cart" %}';
    var load_more_url = '{% url "paginate_products" %}';
    var cart_list_url = '{% url "cart_list" %}';
    var cart_item_quantity_url = '{% url "cart_item_quantity" %}';
    var csrf = '{{ csrf_token }}';
    var closeButton = $('.md-close');
    var openButton = $('#order-button');

</script>
<script src="{% static 'js/core.js' %}"></script>
<script src="{% static 'js/strophe.js' %}"></script>
<script>
    var BOSH_SERVICE = 'https://conversejs.org/http-bind/';
    var connection = null;

    function onConnect(status) {
        if (status == Strophe.Status.CONNECTING) {
            console.log('Strophe is connecting.');
        } else if (status == Strophe.Status.CONNFAIL) {
            console.log('Strophe failed to connect.');
            $('#connect').get(0).value = 'connect';
        } else if (status == Strophe.Status.DISCONNECTING) {
            console.log('Strophe is disconnecting.');
        } else if (status == Strophe.Status.DISCONNECTED) {
            console.log('Strophe is disconnected.');
            $('#connect').get(0).value = 'connect';
        } else if (status == Strophe.Status.CONNECTED) {
            console.log('Strophe is connected.');
            sendCustomMessage(connection, 'customer@176.126.167.36', 'administrator@176.126.167.36', 'hello');
            {#            connection.disconnect();#}
        }
    }

    $(document).ready(function () {
        connection = new Strophe.Connection(BOSH_SERVICE);

        $('#connect').bind('click', function () {
            var button = $('#connect').get(0);
            if (button.value == 'connect') {
                button.value = 'disconnect';

                connection.connect('administrator@176.126.167.36',
                        'Afrodita97',
                        onConnect);
            } else {
                button.value = 'connect';
                connection.disconnect();
            }
        });
    });

    function sendCustomMessage(connection, to, from, body) {
        var m = $msg({to: to, from: from, type: 'chat'}).c("body").t(body);
        // custom data
        m.up().c("data");
        connection.send(m);
    }
</script>
</body>
</html>