{% load staticfiles %}
{% for chicken in products %}
<div class="product">
    <div class="product-image-preview">
        <img src="{{ chicken.preview.url }}"/>
    </div>
    <div class="product-info" id="chicken_{{ chicken.id }}">
        <div class="title">{{ chicken.title }}</div>
        <div class="description">{{ chicken.description }}</div>
        <div class="price">
            {% with chicken.sizes.all as sizes %}
                <ul>
                    {% for size in sizes %}
                        <li
                                class="price-switch {% if size == sizes|first %}active{% endif %}"
                                data-price="{{ size.price }}" data-size="{{ size.title }}">{{ size.title }}</li>
                    {% endfor %}
                </ul>
                {% if sizes|length > 0 %}
                    <div class="price-value">{{ sizes.0.price }} сом</div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="card">
            <button type="button" class="add-to-card" data-target="1" {% if chicken in chicken_favs %}
                    hidden {% endif %}>добавить в заказы
            </button>
            <div class="pre-order-settings {% if chicken not in chicken_favs %}hidden{% endif %}">
                <div class="text">Количество</div>
                <div class="count">
                    <div class="count-value">1</div>
                    <div class="settings-buttons">
                        <img src="{% static "images/icons/plus.png" %}" class="plus-trigger"/>
                        <img src="{% static "images/icons/minus.png" %}" class="minus-trigger"/>
                    </div>
                </div>
                <div class="done">
                    <img src="{% static "images/icons/done.png" %}" class="done-trigger"
                         data-id="{{ chicken.id }}" data-type="chicken"/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}